<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <!--头像-->
            <li class="nav-header">
                <div class="dropdown profile-element">
                        <span>
                            <img alt="image" class="img-circle" src="/img/profile_small.jpg"/>
                        </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold">管理员</strong>
                                </span>
                                <span class="text-muted text-xs block">企业管理员<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">联系方式</a></li>
                        <li class="divider"></li>
                        <li><a href="">退出</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    PW+
                </div>
            </li>
            <li >
                <a href="/">
                    <i class="fa fa-table"></i>
                    <span class="nav-label">系统首页</span>
                </a>
            </li>
            <!--<li >
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="nav-label">用户管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/users">用户管理</a></li>
                    &lt;!&ndash; <li class=""><a href="${base}/isexit/Main/deviceBinding">设备绑定</a></li> &ndash;&gt;
                    <li class=""><a href="/adduser">添加用户</a></li>
                </ul>
            </li>-->
            <li >
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="nav-label">通讯录管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/phoneBooks">通讯录列表</a></li>
                    <!-- <li class=""><a href="${base}/isexit/Main/deviceBinding">设备绑定</a></li> -->
                    <li class=""><a href="/phoneBooks/addstuff">添加员工</a></li>
                </ul>
            </li>
            <li >
                <a href="#">
                    <i class="fa fa-table"></i>
                    <span class="nav-label">信息管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li><a href="/news">信息列表</a></li>
                    <li class=""><a href="/news/addnews">添加消息</a></li>
                </ul>
            </li>


        </ul>
    </div>
</nav>